@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #1d1495;
  --text-white: #ffffff;
  --heading-color: #0c083f;
  --des-color: #06000f;
  --linear-color: linear-gradient(261.5deg, #0c083f -9.2%, #4a43aa 107.31%);
  --linear-backgroun-color: linear-gradient(
    117.69deg,
    rgba(232, 232, 244, 0.36) 0%,
    rgba(185, 182, 222, 0.36) 100%
  );
  --banner-color: rgba(206, 206, 210, 0.3);
  --it-backgroun-color: linear-gradient(117.69deg, rgba(232, 232, 244, 0.2) 0%, rgba(185, 182, 222, 0.2) 100%);

}

img{
  max-width: 100%;
}

body {
  font-family: 'Inter', serif;
  color: var(--des-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

/* common button */
.button-color {
  background: var(--text-color);
  color: var(--text-white);
  padding: 12px 28px 12px 24px;
  border-radius: 12px;
  transition: 0.3s;
}

.button-color:hover {
  background: var(--linear-color);
}

/* common title */
.title h2 {
  margin-bottom: 48px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
}

.title h2 span {
  color: var(--text-color);
}

/* header area */
.button-color span {
  padding-left: 6px;
}

.right-side-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}


/* .navbar-nav .nav-link.active {
  border-radius: 5px;
  font-weight: bold;
  padding: 8px 15px; 
}

.navbar-nav .nav-link:hover {
  border-radius: 5px;
} */

/* banner area css */
.banner {
  padding: 100px 0;
  text-align: center;
}

.banner h2 {
  max-width: 1102px;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  margin: auto;
  color: var(--text-color);
  margin-bottom: 8px;
}

.banner p {
  font-size: 24px;
  font-weight: 400;
  line-height: 43.2px;
}

/* common banner */
/* it-service banner */
/* it-audit banner */
/* it-support banner */
/* business banner */
/* cyber-security banner */

.banner-section{
  background: var(--it-backgroun-color);
  padding: 100px 0;
}

.banner-contant{
max-width: 652px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.banner-contant h2{
font-size: 56px;
font-weight: 700;
line-height: 78.4px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--text-color);
}
.it-audit-banner h2{
font-size: 36px;
font-weight: 700;
line-height: 50.4px;
}

.banner-contant p{
margin-top: 24px;
font-size: 24px;
font-weight: 400;
line-height: 38.4px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
/* common banner css end */

/* clients-area css */
.clients-area {
  padding: 100px 0;
}

.clients-images {
  display: flex;
  gap: 64px;
}

/* we-do-area css */
.we-do-section {
  padding: 100px 0;
}

.we-do {
  gap: 48px;
}
.we-do-area {
  max-width: 637px;
  margin: auto;
  gap: 48px;
}

.we-do-title {
  gap: 10px;
  margin-bottom: 8px;
}

.we-do-title h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: center;
}

.we-do-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
}

/* we-serve-section css */
.we-serve-section {
  padding: 100px 0;
}

.we-serve {
  gap: 24px;
}

.gradient-border {
  padding: 30px 12px 30px 12px;
  width: 312px;
  height: 226px;
  position: relative;
  background: linear-gradient(
    117.69deg,
    rgba(232, 232, 244, 0.36) 0%,
    rgba(185, 182, 222, 0.36) 100%
  );
  border-radius: 16px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    225deg,
    #645eb6,
    #cac7ee,
    #fdfdfd,
    #fff,
    #f5f6f8,
    #cac7ee,
    #645eb6
  );
  border-radius: 16px;
  z-index: -1;
  padding: 2px;
  -webkit-mask: linear-gradient(#645eb6 0 0) content-box,
    linear-gradient(#645eb6 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.content span {
  font-size: 24px;
  font-weight: 600;
  line-height: 43.2px;
  padding-top: 24px;
}

/* our-services-section css */
.our-services-section {
  padding: 100px 0;
}

.our-service-card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}

.single-service-card {
  width: 422px;
  background: #ffffff;
}

.single-service-card h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 57.6px;
  text-align: left;
  padding-top: 24px;
}

.single-service-card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
}

/* partners-section css */
.partners-section {
  padding: 100px 0;
}

.partners-card {
  align-items: center;
  gap: 62px;
}

/* support-section css */
.support-section {
  padding: 100px 0;
  overflow: hidden;
}

.title-des h2 {
  margin-bottom: 14px;
}

.title-des p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  max-width: 1101px;
  margin: auto;
  padding-bottom: 48px;
}

.our-custom-accordion {
  display: flex;
  gap: 35px;
}
.our-custom-accordion-signle {
  width: 50%;
  /* margin: auto; */
}

.our-custom-accordion .accordion-item {
  border: 0;
}

.our-custom-accordion .accordion-header a {
  padding: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 43.2px;
  color: var(--heading-color);
  text-decoration: none;
  background: linear-gradient(
    117.69deg,
    rgba(232, 232, 244, 0.36) 0%,
    rgba(185, 182, 222, 0.36) 100%
  );
  display: block;
  position: relative;
  border-radius: 12px;
}

.our-custom-accordion .accordion-header a i {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0 30px 0 0;
  transform: translateY(-50%);
  color: var(--text-color);
  font-size: 22.5px;
}

.our-custom-accordion .accordion-header a.collapsed i {
  transform: translateY(-50%) rotate(180deg);
  margin: 0 30px 0 0;
}

/* looking-it-services-section css */
.looking-it-services-section {
  padding: 100px 0;
}

.it-services-cards {
  margin: 32px 0;
}

.it-service-signle {
  padding: 32px 0;
  gap: 55px;
}
.it-service-contant{
  padding: 16px;
}

.it-service-contant h4 {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.it-service-contant p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 648px;
}

.it-service-contant span {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.it-common-menu span {
  color: var(--text-color);
  font-weight: 600;
}
.it-common-menu {
  display: flex;
  flex-direction: column;
}
.it-common-menu a {
  text-decoration: none;
  color: var(--des-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* cyber-protecton-section css */
.cyber-protecton-section {
  padding-bottom: 100px;
}

.common-border {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.common-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    150deg,
    #645eb6,
    #cac7ee,
    #fdfdfd,
    #fff,
    #f5f6f8,
    #cac7ee,
    #645eb6
  );
  border-radius: 24px;
  z-index: -1;        
  padding: 2px;
  -webkit-mask: linear-gradient(#645eb6 0 0) content-box,
    linear-gradient(#645eb6 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.cyber-protection-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.cyber-protection-signle-card {
  padding: 20px;
  background: #ffffff;
}

.cyber-protection-signle-card h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cyber-protection-signle-card span {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* contact-section css */
.contact-section {
  padding: 100px 0;
}

.contact-area{
  gap: 110px;
  margin-top: 40px;
}

.form-container {
  margin-top: 100px;
  width: 100%;
}

.form-group {
  margin-bottom: 40px;
  position: relative;
}

input,
textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #b4b4b4;
  outline: none;
  font-size: 16px;
  padding-bottom: 20px;
}
/* input:focus,
textarea:focus {
  border-bottom: 2px solid #b4b4b4;
} */
textarea {
  resize: vertical;
  height: 90px;
}
button {
  background-color: var(--des-color);
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}
button:hover {
  background: linear-gradient(261.5deg, #0c083f -9.2%, #4a43aa 107.31%);
}

/* footer-area css */
.footer-area{
  background: linear-gradient(90deg, #000000 0%, #343434 100%);
position: relative;
padding: 100px;
overflow: hidden;
color: var(--text-white);
}
.footer-rectangle-1 img{
  position: absolute;
  left: 0;
  top: -106px;
  width: 250px; 
}
.footer-rectangle-2 img{
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 250px;
}
.footer-content{
  gap: 70px;
}
.footer-content-single img{
  margin-bottom: 20px;
  cursor: pointer;
}
.footer-content-single span{
font-size: 18px;
font-weight: 400;
line-height: 32.4px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
cursor: pointer;
}
.footer-content-single h6{
color: var(--text-white);
font-size: 24px;
font-weight: 600;
line-height: 43.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
cursor: pointer;
}

.footer-icon{
  display: flex;
  width: 24px;
  height: 24px;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}






